
.chat-main__members--box
  .chat-main__members--chat
    = message.user.name
  .message-date
    = message.created_at.strftime ("%Y/%m/%d %H:%M")
  .members-meesage
    - if message.content.present?
      %p.message-content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?


  / .
  /   .chat-main__members--chat
  /     ryosuke
  /     %i 2016/10/02 06:27:07
  /     %p なるほど

