.notification
  .notice グループが作成されました



.chat-side
  .chat-side__user
    .chat-side__user--name ogawa
    %i.fa.fa-edit
    %i.fa.fa-cog



  .chat-side__groups
    .chat-side__groups--list
      .chat-side__group--member 神
      .chat-side__group--member akakak
      .chat-side__group--name zzz
      .chat-side__group--message まだメッセージはありません
      .chat-side__group--name sampleグループ
      .chat-side__group--message まだメッセージはありません





.chat-main
  .chat-main__header
    .chat-main__header--group
      %input{:type => "submit", :name => "edit", :value => "edit", :class => "edit", :datadisablewith => "Edit"}
      .chat-main__header--group-name sampleグループ
      .chat-main__header--members ogawa

  .chat-main__members--box
    .chat-main__members--chat
      ryosuke
      %i 2016/10/02 06:27:07
      %p なるほど


    .chat-main__members--chat
      ryosuke
      %i 2016/10/02 06:27:25
      %p command Enterで送信したい感ある


    .chat-main__members--chat
      ryosuke
      %i 2016/10/02 06:27:25
      %p お腹すいた


  .chat-main__footer--body
    %input{:placeholder => "type a message", :class => "message", :type => "text", :name => "message[body]", :id => "message_body"}
    %lebel.chat-file
    %i.fa.fa-image
    %input{:type => "submit", :name => "commit", :value => "Send", :class => "submit", :datadisablewith => "Send"}


