.chat-main
  .chat-main__header
    .chat-main__header--group
      %input{type: "submit", name: "edit", value: "edit", class: "edit", datadisablewith: "Edit"}
      .chat-main__header--group-name sampleグループ
      .chat-main__header--members ak



