.chat-main
  .chat-main__header
    .chat-main__header--group
      %input{type: "submit", name: "edit", value: "edit", class: "edit", datadisablewith: "Edit"}
      .chat-main__header--group-name sampleグループ
      .chat-main__header--members ogawa

  .chat-main__members--box
    .chat-main__members--chat
      ryosuke
      %i 2016/10/02 06:27:07
      %p なるほど


    .chat-main__members--chat
      ryosuke
      %i 2016/10/02 06:27:25
      %p command Enterで送信したい感ある


    .chat-main__members--chat
      ryosuke
      %i 2016/10/02 06:27:25
      %p お腹すいた

