  .chat-main__footer--body
    %input{placeholder: "type a message", class: "message", type: "text", name: "message[body]", id: "message_body"}
    %lebel.chat-file
    %i.fa.fa-image
    %input{type: "submit", name: "commit", value: "Send", class: "submit", datadisablewith: "Send"}
