  .chat-side__groups
    .chat-side__groups--list
      .chat-side__group--member
      - current_user.groups.each do |group|
      = link_to group_messages_path(group)
        .chat-side__group--name
        = group.name
        .chat-side__group--message
        まだメッセージはありません

