$text-color: (#fff);
$size: (15px);
@import "colors";

.wrapper {
  height: 100%;
  width: 100%
}

  a {
    color: $white;
    text-decoration: none;
    font-size: $size;
  }

  .notice {
    background-color: $light_blue;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
  }

  .chat-side {
    background-color: #2f3e51;
    width: 300px;
    height: 100vh;
    float: left;
    &__user {
      height: 15vh;
      width: 100%;
      background-color: #253141;
      position: relative;
      &--name {
        padding-top: 36px;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 15%;
        font-weight: bold;
        margin: 12px 20px;
        display: inline-block;

        }
      }
    }
  .fa-edit:before, .fa-pencil-square-o:before {
    color: $white;
    margin-right: 20px;
    margin-top:6px;
    padding-top: 36px;
    float:right;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 0;
    right:25px;
  }

  .fa-cog:before {
    color: $white;
    margin-right:20px;
    margin-top:6px;
    padding-top: 36px;
    float:right;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .chat-side__groups {
    height: 85%;
    width: 100%;
    background-color: #2f3e51;
    color: #FFFFFF;
    overflow:hidden;
    &--list{
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;

    }
  }
      .chat-side__group--member {
        font-size: $size;
        margin-top: 40px;
        margin-bottom:5px;
        color: $white;
      }
        .chat-side__group--name {
          font-size: $size;
          margin-top: 40px;
          color: $white;
        }


  .chat-main {
    height: 100%;
    width: calc( 100vw - 300px);
    float: right;
    padding-top: 24px;
    overflow: scroll;
    &__header--group {
      width: calc( 100vw - 300px);
      border-bottom: solid 1px #eeeeee;
      margin-left: -40px;
    }
  }
  .chat-main__header{
    margin-left: 40px;
    margin-right:40px;
    &--group-name {
      font-size: 20px;
      color: #333333;
      float:left;
      padding-top: 40px;
      margin-top: -20px;
      margin-left: 40px;
  }
}
  .edit{
    color: #38AEF0;
    font-size: $size;
    padding: 12.5px 20px;
    margin-right: 20px;
    border: 1px solid #38AEF0;
    float: right;
  }

  .chat-main__header--members {
    font-size: 12px;
    color: #999999;
    padding-top: 65px;
    margin-left: 40px;
  }
  .chat-container {
    background-color: #AAAAAA;
    width: calc( 100% - 300px);
    float: right;
    overflow: scroll;
    position: absolute;
    top: 108px;
    left: 300px;
    z-index: -10;
    height: calc( 100% - 198px);
  }

  .chat-main__members--box {
    width: calc( 100vw - 300px);
    float: right;
  }

  .chat-main__members--chat {
    padding-top: 40px;
    padding-left: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #434A54;
    display: inline-block;
  }

  .message-date {
    display: inline-block;
    font-size: 12px;
    color: #999999;
    padding-left: 10px;
  }

  .message-content {
    font-size: 14px;
    color: #434A54;
    padding-left: 40px;
  }

  .i {
    float: left;
    display: inline-block;
    width: 700px;
  }

  .chat-main__footer--wrapper {
    height: 90px;
    width: calc(100% - 300px);
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .new_message {
    width: 900px;
    margin-left: 40px;
    margin-right: 40px;
    height: 50px;
    margin-top: 5px;
  }

  .fa-photo:before, .fa-image:before, .fa-picture-o:before {
    font-weight: bold;
    font-family:"Font Awesome 5 Free";
    display: inline-block;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    right: 150px;
    top: 35px;


  }

  .form__message {
    height: 50px;
    width: 750px;
    margin-top: 15px;
    display: inline-block;
    color: #434A54;
  }

   .Send {
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: #38AEF0;
    margin-top: 20px;
    display: inline-block;
    border: none;
    position: absolute;
    right: 20px;
    top: 0;
   }

    .hidden {
      display: none;

    }
